# Node.js
node_modules/
npm-debug.log*
package-lock.json

# JSDoc output


# GitHub Actions
*.log
*.tmp

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# VSCode
.vscode/
# Esto es un cambio temporal para aparecer como contribuidora
# Esto es un cambio temporal para aparecer como contribuidora
# Esto es un cambio temporal para aparecer como contribuidora
# Hola
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola Chicos
# Hola 
# Hola 
# Hola 
# Hola chicos se cambia mi correo? 
# Hola chicos se cambia mi correo? 
# Hola chicos se cambia mi correo? 
# Hola chicos se cambia mi correo?? 
# Hola chicos se cambia mi correo?? 
# Hola chicos se cambia mi correo?? 
